Schema/songSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = song
song = element song {info, lyrics}
info = element info{title, tempo, key, songWriter, composer, producer, label, released, recorded, songLength}
title = element title{text}
tempo = element tempo{measurement, xsd:decimal}
measurement = attribute measurement {"BPM"}
key = element key{text}
songWriter = element songWriter{text}
composer = element composer{text}
producer = element producer{text}
label = element label{text}
released = element released{xsd:date}
recorded = element recorded{from, to}
from = attribute from {xsd:int}
to = attribute to {xsd:int}
songLength = element songLength{xsd:int}
lyrics = element lyrics{intro, prelude?, interlude, verse+, chorus+, bridge?, outro?}
intro = element intro{line+}
line = element line{ref*,text}
ref = element ref{type*, text}
type = attribute type{"rel" | "songWriter"}
prelude = element prelude{text}
interlude = element interlude{text}
verse = element verse{n}
n = attribute n{xsd:int}
chorus = element chorus{line+}
bridge = element bridge{text}
outro = element outro{text}
