Schema/songSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = song
song = element song {info, lyrics}
info = element info{title, album, tempo, key, songWriter+, composer+, producer+, label+, released, recorded, singRelease?, songLength}
title = element title {xmlid?, text}
xmlid = attribute xml:id {xsd:ID}
album = element album {"Daisy" | "Deja Entendu" | "EPs" | "Leaked Demos" | "Science Fiction" | "The Devil And God Are Raging Inside Me" | "Your Favorite Weapon"}
tempo = element tempo{meas, xsd:decimal}
meas = attribute meas {"BPM"} # ebb: Suggestion: make BPM the attribute name, and control the value with xsd:integer (?)
key = element key{text}  #ebb: Explain somewhere on your website you how determine this, and set some values as you working. 
songWriter = element songWriter{text}
composer = element composer{text}
producer = element producer{text}
label = element label{text}
released = element released{xsd:date}
recorded = element recorded {mixed{from, to}}
singRelease = element singRelease {xsd:date}
from = attribute from {xsd:int}
to = attribute to {xsd:int}
songLength = element songLength{xsd:time}
lyrics = element lyrics{intro | prelude | interlude | verse | chorus | bridge | outro | line | preChorus}*
intro = element intro{mixed{line+ | verse}*}
line = element line{mixed{ref*}}
ref = element ref {mixed{(type | img | ref)*}}
type = attribute type{"rel" | "songTitle" | "idiom" | "bandMember" | "popCulture" | "band"}
img = attribute img {"flowers" | "water" | "earth" | "fire" | "animal" | "time" | "car" | "house" | "bed"}
prelude = element prelude{text}
interlude = element interlude{text}
verse = element verse{n, line+}
n = attribute n{xsd:int}
preChorus = element preChorus {line+}
chorus = element chorus{line+}
bridge = element bridge{line+, text}
outro = element outro{mixed{line+ | chorus | verse}*}
