Schema/songSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = song
song = element song {info, lyrics}
info = element info{title, tempo, key, songWriter+, composer+, producer+, label+, released, recorded, songLength}
title = element title{text}
tempo = element tempo{meas, xsd:decimal}
meas = attribute meas {"BPM"}
key = element key{text}
songWriter = element songWriter{text}
composer = element composer{text}
producer = element producer{text}
label = element label{text}
released = element released{xsd:date}
recorded = element recorded {mixed{from, to}}
from = attribute from {xsd:int}
to = attribute to {xsd:int}
songLength = element songLength{xsd:time}
lyrics = element lyrics{mixed{intro | prelude | interlude | verse | chorus | bridge | outro}*}
intro = element intro{line+}
line = element line{mixed{ref*}}
ref = element ref {mixed{(type | img)*}}
type = attribute type{"rel" | "songTitle"}
img = attribute img {"flowers" | "water" | "earth" | "animal"}
prelude = element prelude{text}
interlude = element interlude{text}
verse = element verse{n, line+}
n = attribute n{xsd:int}
chorus = element chorus{line+}
bridge = element bridge{line+, text}
outro = element outro{line+, text}
