Schema/songSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = song
song = element song {info, lyrics}
info = element info{title, album, track, tempo, key, songWriter+, composer+, producer+, label+, singRelease*, songLength}
title = element title {xmlid?, refer*, text}
xmlid = attribute xml:id {xsd:ID}
album = element album {ref, ("Daisy" | "Deja Entendu" | "EPs" | "Leaked Demos" | "Science Fiction" | "The Devil And God Are Raging Inside Me" | "Your Favorite Weapon")}
ref = attribute ref {text}
track = element track {n}
tempo = element tempo{bpm}
bpm = attribute bpm {xsd:decimal} # ebb: Suggestion: make BPM the attribute name, and control the value with xsd:integer (?)
key = element key{text}  #ebb: Explain somewhere on your website you how determine this, and set some values as you working. 
songWriter = element songWriter{text}
composer = element composer{text}
producer = element producer{text}
label = element label{text}
singRelease = element singRelease {xsd:date}
from = attribute from {xsd:int}
to = attribute to {xsd:int}
songLength = element songLength{xsd:time}
lyrics = element lyrics{(intro | prelude | interlude | verse+ | chorus+ | bridge | outro | line | preChorus+)*}
intro = element intro{mixed{line+ | verse}*}
line = element line{mixed{refer*}}
refer = element refer {mixed{(type | img | refer)*}}
type = attribute type{"rel" | "songTitle" | "idiom" | "bandMember" | "popCulture" | "band"}
img = attribute img {"flowers" | "water" | "earth" | "fire" | "animal" | "time" | "car" | "house" | "bed" | "season" | "school" | "death" | "alcohol"}
prelude = element prelude{text}
interlude = element interlude{text}
verse = element verse{n, line+}
n = attribute n{xsd:int}
preChorus = element preChorus {line+}
chorus = element chorus{line+}
bridge = element bridge{line+, text}
outro = element outro{mixed{line+ | chorus | verse}*}
